/*-- scss:defaults --*/

$pink:          #e83283 !default;
$lavendel:      #a4a0d0 !default;
$primary:       $pink !default;
$link-color:    $pink !default;

/*-- scss:rules --*/

.column {
text-align: left;
}

